:root {
  font-family: "IBM Plex Sans", "Hiragino Sans", "Noto Sans JP", "Segoe UI",
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #1f2933;
  background-color: #f5f6f7;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: inherit;
}
a:hover {
  color: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f5f6f7;
  color: #1f2933;
}
